.hamburger {
    position: fixed;
    top: 4%;
    right: 5%;
    width: rem(24px);
    height: rem(20px);
    flex-direction: column;
    justify-content: space-between;
    display: none;
    cursor: pointer;

    @include tablets {
        display: inline-flex;
    }

    @include phones {
        display: inline-flex;
    }
}

