.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-title {
    margin-bottom: 44px;
}

.player-section__container {
    width: 660px;

    @include tablets {
        width: 480px;
    }

    @include phones {
        width: 360px;
    }
}

.video-player {
    width: 100%;
}
